{% extends 'student_base.html' %}

{% block content %}
  <h2>Register as a Student</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="{{ form.username.id_for_label }}">Username:</label>
      {{ form.username }}
    </div>
    <br>
    <div>
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}
    </div>
    <br>
    <div>
      <label for="{{ form.password1.id_for_label }}">Password:</label>
      {{ form.password1 }}
    </div>
    <br>
    <div>
      <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
      {{ form.password2 }}
    </div>
    <br>
    <button type="submit">Register</button>
  </form>
{% endblock %}
